@media screen and (max-width : 1000px)
{
    .grid 
    {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width : 670px)
{
    .grid 
    {
        grid-template-columns: auto ;
    }
    .heading
{
    
    font-size: 1.5rem;
   
}
.sub-heading
{
    font-size: .8rem;
}
}